<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasks</title>
</head>
<body>
    <h1>Tasks</h1>
    <ul>
        {% for tasks in tasks %}
            <li>{{ tasks }}</li>
        {% endfor %}
        
    </ul>
    <!-- <a href="./add">Add Tasks</a>   Linking in html -->
    <a href="{% url 'add' %}">Add Tasks</a>   <!-- Linking in Django using name-->

</body>
</html>